.contentBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;

    margin-top: 5vh;
}

.circlePic{
    width: 20%;
    height: 0;
    padding-bottom: 20%;

    border-radius: 50%;
}

.terapeutasText{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    text-align: justify;

    margin: 0px 0px 2.5vh 0px;

    width: 75%;
}

#ana{
    background-image: url('../images/therapists/ana.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#cristina{
    background-image: url('../images/therapists/cristina.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#diana{
    background-image: url('../images/therapists/diana.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#gina{
    background-image: url('../images/therapists/gina.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#isabel{
    background-image: url('../images/therapists/isabel.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#licinio{
    background-image: url('../images/therapists/licinio.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#margarida{
    background-image: url('../images/therapists/margarida.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#mariana{
    background-image: url('../images/therapists/mariana.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#sara{
    background-image: url('../images/therapists/sara.jpg');
    background-size: contain; background-repeat: no-repeat;
}

#tania{
    background-image: url('../images/therapists/tania.jpg');
    background-size: contain; background-repeat: no-repeat;
}


@media screen and (max-width: 600px){
    .contentBox{
        justify-content: center;
        align-items: flex-start;
    }
    
    .circlePic{
        width: 50%;
        padding-bottom: 50%;
    }
    
    .terapeutasText{
    
        width: 100%;

        margin-top: 5vh;
    }
}