#abraco{
    background-image: url('../images/therapy/abraco_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAbraco{
    visibility: hidden;
}

#popupAbraco.show{
    visibility: visible;
}

#imgPopupAbraco{
    background-image: url('../images/therapy/abraco_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

/**/

#aconselhamento{
    background-image: url('../images/therapy/aconselhamento_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAconselhamento{
    visibility: hidden;
}

#popupAconselhamento.show{
    visibility: visible;
}

#imgPopupAconselhamento{
    background-image: url('../images/therapy/aconselhamento_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

/**/

#acupuntura{
    background-image: url('../images/therapy/acupuntura_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupAcupuntura{
    background-image: url('../images/therapy/acupuntura_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAcupuntura{
    visibility: hidden;
}

#popupAcupuntura.show{
    visibility: visible;
}

/**/

#acm{
    background-image: url('../images/therapy/acm_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupAcm{
    background-image: url('../images/therapy/acm_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAcm{
    visibility: hidden;
}

#popupAcm.show{
    visibility: visible;
}

/**/

#barras{
    background-image: url('../images/therapy/barras_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupBarras{
    background-image: url('../images/therapy/barras_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupBarras{
    visibility: hidden;
}

#popupBarras.show{
    visibility: visible;
}

/**/

#bio{
    background-image: url('../images/therapy/bio_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupBio{
    background-image: url('../images/therapy/bio_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupBio{
    visibility: hidden;
}

#popupBio.show{
    visibility: visible;
}

/**/

#coach{
    background-image: url('../images/therapy/coach_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupCoach{
    background-image: url('../images/therapy/coach_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupCoach{
    visibility: hidden;
}

#popupCoach.show{
    visibility: visible;
}

/**/

#constelacao{
    background-image: url('../images/therapy/constelacao_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupConstelacao{
    background-image: url('../images/therapy/constelacao_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupConstelacao{
    visibility: hidden;
}

#popupConstelacao.show{
    visibility: visible;
}

/**/

#consulta-intuitiva{
    background-image: url('../images/therapy/intuicao_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupLeituraIntuitiva{
    background-image: url('../images/therapy/intuicao_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupLeituraIntuitiva{
    visibility: hidden;
}

#popupLeituraIntuitiva.show{
    visibility: visible;
}

/**/

#consulta-proposito{
    background-image: url('../images/therapy/proposito_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupProposito{
    background-image: url('../images/therapy/proposito_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupProposito{
    visibility: hidden;
}

#popupProposito.show{
    visibility: visible;
}

/**/

#consulta{
    background-image: url('../images/therapy/consulta_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupConsulta{
    background-image: url('../images/therapy/consulta_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupConsulta{
    visibility: hidden;
}

#popupConsulta.show{
    visibility: visible;
}

/**/

#hipnose{
    background-image: url('../images/therapy/hipnose_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupHipnose{
    background-image: url('../images/therapy/hipnose_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupHipnose{
    visibility: hidden;
}

#popupHipnose.show{
    visibility: visible;
}

/**/

#aura{
    background-image: url('../images/therapy/aura_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupAura{
    background-image: url('../images/therapy/aura_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAura{
    visibility: hidden;
}

#popupAura.show{
    visibility: visible;
}

/**/

#limpeza-energetica{
    background-image: url('../images/therapy/limpeza_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupLimpezaEnergetica{
    background-image: url('../images/therapy/limpeza_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupLimpezaEnergetica{
    visibility: hidden;
}

#popupLimpezaEnergetica.show{
    visibility: visible;
}

/**/

#linguagem-luz{
    background-image: url('../images/therapy/luz_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupLinguagem{
    background-image: url('../images/therapy/luz_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupLinguagem{
    visibility: hidden;
}

#popupLinguagem.show{
    visibility: visible;
}

/**/

#mapa-astral{
    background-image: url('../images/therapy/mapa_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupMapaAstral{
    background-image: url('../images/therapy/mapa_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupMapaAstral{
    visibility: hidden;
}

#popupMapaAstral.show{
    visibility: visible;
}

/**/

#relaxamento{
    background-image: url('../images/therapy/relaxamento_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupRelaxamento{
    background-image: url('../images/therapy/relaxamento_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupRelaxamento{
    visibility: hidden;
}

#popupRelaxamento.show{
    visibility: visible;
}

/**/

#som{
    background-image: url('../images/therapy/som_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupSom{
    background-image: url('../images/therapy/som_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupSom{
    visibility: hidden;
}

#popupSom.show{
    visibility: visible;
}

/**/

#terapeutica{
    background-image: url('../images/therapy/terapeutica_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupTerapeutica{
    background-image: url('../images/therapy/terapeutica_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupTerapeutica{
    visibility: hidden;
}

#popupTerapeutica.show{
    visibility: visible;
}

/**/

#mentoria{
    background-image: url('../images/therapy/mentoria_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupMentoria{
    background-image: url('../images/therapy/mentoria_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupMentoria{
    visibility: hidden;
}

#popupMentoria.show{
    visibility: visible;
}

/**/

#numerologia{
    background-image: url('../images/therapy/numerologia_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupNumerologia{
    background-image: url('../images/therapy/numerologia_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupNumerologia{
    visibility: hidden;
}

#popupNumerologia.show{
    visibility: visible;
}

/**/

#quiropraxia{
    background-image: url('../images/therapy/quiropraxia_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupQuiropraxia{
    background-image: url('../images/therapy/quiropraxia_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupQuiropraxia{
    visibility: hidden;
}

#popupQuiropraxia.show{
    visibility: visible;
}

/**/

#reflexologia{
    background-image: url('../images/therapy/reflexologia_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupReflexologia{
    background-image: url('../images/therapy/reflexologia_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupReflexologia{
    visibility: hidden;
}

#popupReflexologia.show{
    visibility: visible;
}

/**/

#reiki{
    background-image: url('../images/therapy/reiki_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupReiki{
    background-image: url('../images/therapy/reiki_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupReiki{
    visibility: hidden;
}

#popupReiki.show{
    visibility: visible;
}

/**/

#akashico{
    background-image: url('../images/therapy/akashico_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupAkashico{
    background-image: url('../images/therapy/akashico_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAkashico{
    visibility: hidden;
}

#popupAkashico.show{
    visibility: visible;
}

/**/

#multidimensional{
    background-image: url('../images/therapy/cura_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupMultidimensional{
    background-image: url('../images/therapy/cura_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupMultidimensional{
    visibility: hidden;
}

#popupMultidimensional.show{
    visibility: visible;
}

/**/


#auricular{
    background-image: url('../images/therapy/auricular_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupAuricular{
    background-image: url('../images/therapy/auricular_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupAuricular{
    visibility: hidden;
}

#popupAuricular.show{
    visibility: visible;
}

/**/

#tarot{
    background-image: url('../images/therapy/tarot_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupTarot{
    background-image: url('../images/therapy/tarot_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupTarot{
    visibility: hidden;
}

#popupTarot.show{
    visibility: visible;
}

/**/

#circulo{
    background-image: url('../images/therapy/circulo_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupCirculo{
    background-image: url('../images/therapy/circulo_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupCirculo{
    visibility: hidden;
}

#popupCirculo.show{
    visibility: visible;
}

/**/

#concerto{
    background-image: url('../images/therapy/concerto_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupConcerto{
    background-image: url('../images/therapy/concerto_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupConcerto{
    visibility: hidden;
}

#popupConcerto.show{
    visibility: visible;
}

/**/

#constelacoes{
    background-image: url('../images/therapy/constelacao_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupConstelacoes{
    background-image: url('../images/therapy/constelacao_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupConstelacoes{
    visibility: hidden;
}

#popupConstelacoes.show{
    visibility: visible;
}

/**/

#sintonizacao{
    background-image: url('../images/therapy/luz_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupSintonizacao{
    background-image: url('../images/therapy/luz_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupSintonizacao{
    visibility: hidden;
}

#popupSintonizacao.show{
    visibility: visible;
}

/**/

#vapor{
    background-image: url('../images/therapy/vapor_small.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#imgPopupVapor{
    background-image: url('../images/therapy/vapor_medium.jpg');
    background-size: 100%; background-position: center; background-repeat: no-repeat;
}

#popupVapor{
    visibility: hidden;
}

#popupVapor.show{
    visibility: visible;
}

/**/